.tabPanel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 6fr 6fr;

  .projBox {
    // border: 2px solid pink;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 350px;
    margin: 2rem 0;
    cursor: pointer;
    &:hover {
      .projDetailBox {
        z-index: 99;
        opacity: 0.81;
      }
    }
  }

  .projDetailBox {
    position: relative;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    justify-content: center;
    color: white;
    background-color: black;
    opacity: 0;
    z-index: -1;
    cursor: pointer;
    transition: 400ms ease-in-out;
    h2 {
      text-transform: capitalize;
    }
  }
}

@media only screen and (max-width: 720px) {
  .tabPanel {
    grid-template-columns: 12fr;
  }
}
