@use "../variables" as *;

.projectslist {
  width: 100%;
  max-width: $default-max-width;
  min-height: 100vh;
  //   background-color: red;
  h2 {
    margin-bottom: 2rem;
    // margin-left: 1rem;
  }
  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    li {
      width: 100%;
      max-width: 900px;
      height: 10rem;
      //   border: 1px solid black;
      //   border-bottom: 1px solid $line-color;
      // background-color: red;
      display: grid;
      grid-template-columns: 1fr 6fr 3fr;
      &::after {
        content: "";
        position: absolute;
        margin-top: 10rem;
        width: 100%;
        max-width: 900px;
        height: 1px;
        background: rgb(0, 0, 0);
        background: radial-gradient(
          circle,
          rgba(0, 0, 0, 1) 0%,
          rgba(255, 255, 255, 1) 95%
        );
      }

      h2 {
        display: grid;
        place-items: center;
        height: 100%;
      }
    }
  }
}

.projimg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.projimg img {
  width: 12rem;
  height: 8rem;
}

.imgcurtain {
  position: absolute;
  background-color: $bg-color;
  z-index: 100;
  width: 15rem;
  height: 8rem;
  transition: all 600ms ease-in-out;
}

.projectslist ul li:hover {
  .imgcurtain {
    transform: translateY(-100%);
    // z-index: -10000;
    background-color: transparent;
    height: 1px;
  }
}

.projdetail {
  //   display: grid;
  //   place-content: start;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  h4 {
    margin-bottom: -1rem;
  }
}

.projtagslist {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  p {
    margin-right: 5px;
    font-size: 1.5rem;
  }
}

/////////// MEDIA QUERY /////////
@media (max-width: 600px) {
  .projectslist ul li {
    grid-template-columns: 1fr 1fr;
  }
  .projdetail {
    // padding-right: 10rem;
  }

  .projimg {
    display: none;
  }
}
