svg.menuSVG {
  width: 3rem;
  cursor: pointer;
  .topLine,
  .bottomLine {
    transition: all 300ms ease-in-out;
  }
  &:hover {
    .topLine {
      transform: translateY(-10px);
    }
    .bottomLine {
      transform: translateY(10px);
    }
  }
}
