// Colors
$primary-color: #646cff !default;
$secondary-color: #61dafb !default;
$background-color: #000 !default;
$text-color: #fff !default;
$muted-text-color: #888 !default;

// Spacing
$root-max-width: 1280px !default;
$root-padding: 2rem !default;
$card-padding: 2em !default;

// Animation
$logo-animation-duration: 20s !default;
$logo-transition-duration: 300ms !default;

// Logo
$logo-height: 6em;
$logo-padding: 1.5em; 