// Colors
$primary-color: #646cff;
$secondary-color: #61dafb;
$background-color: #000;
$text-color: #fff;
$muted-text-color: #888;

// Spacing
$root-max-width: 1280px;
$root-padding: 2rem;
$card-padding: 2em;

// Animation
$logo-animation-duration: 20s;
$logo-transition-duration: 300ms;

// Logo
$logo-height: 6em;
$logo-padding: 1.5em; 