.footer {
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h5 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .socialList {
    width: 100%;
    max-width: 20rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    li {
      padding: 0;
      cursor: pointer;
      transition: all 300ms ease-in-out;
      > * {
        font-size: 1.5rem;
        color: black;
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  p span {
    margin: 1rem 0;
    padding: 1rem 0;

    opacity: 0.45;
  }
}
